@font-face
  font-family fa-brands
  font-style normal
  src url("/gamepad-demo/fonts/font-awesome/fa-brands-400.ttf")

@font-face
  font-family fa-regular
  font-style normal
  src url("/gamepad-demo/fonts/font-awesome/fa-regular-400.ttf")

@font-face
  font-family fa-solid
  font-style normal
  src url("/gamepad-demo/fonts/font-awesome/fa-solid-900.ttf")